<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Começando;</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/main.css" rel="stylesheet"></link>
    <link href="/css/main2.css" rel="stylesheet"></link>
</head>
<body>

      <header id="header">
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h2>Pronto, clique para assistir o video convertido! </h2>
        </div>
      </section>

      <br></br>

      <div class="body">
        <div class="container">
          <div th:if="${message}">
        		<h2 th:text="${message}"/>
        	</div>

        	<div>
              <video width="320" height="240" controls="controls" autoplay="autoplay">
                <source th:src="${source}" type="video/webm" />
             Seu browser nao suporta a tag do video.
              </video>
        	</div>
          <div class="goback">
        		<a href="/">Volte para a página inicial</a>
        	</div>

        </div>
      </div>

      <br></br>

      <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <div class="content"></div>
          <div class="copyright">
            &copy; Julio Cesar Tadeu Guimaraes
          </div>
        </div>
      </footer>


</body>
</html>
